body {
    background: red
}

header {
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.high-score {
    display: flex;
    align-items: center;
    font-size: 2.80vw;
    font-weight: bold;
    color: white;
    padding: 15px;
}

.hs-container{
    background-color: black;
    display: flex;
    justify-content: center;
}

.title{
    background-color: black;
}

.title-page {
    font-size: 4.75vw;
    color: white;
    padding: 15px
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.80vw;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 45px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.home h1 {
    text-decoration: underline;
    font-size: 50px;
}

.home p {
    font-size: 25px;
    font-weight: bold;
} 

#button {
    font-size: 50px;
    padding: 40px 70px;
    cursor: pointer;
}

.answers {
    display: flex;
    flex-wrap: wrap;
}

.option {
    background: black;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    width: 225px;
    height: 120px;
    flex: 1 1 45%;
    font-size: 30px;
    margin: 15px 15px;
    cursor: pointer;
}

.quiz {
    display: flex;
    justify-content: center;
}

.question {
    display: flex;
    justify-content: center;
    font-size: 7vw;
    margin-bottom: 20px;
}

.comment {
    display: flex;
    justify-content: center;
    font-size: 80px;
    border-top: 2px solid black;
}

.score-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-form h1 {
    font-size: 80px;
}

.user-score {
    font-size: 50px;
}

.gone {
    display: none;
}

@media screen and (max-width: 950px) {
    .option {
        width: 150px;
        height: 100px;
        margin: 7px 7px;
        font-size: 4.2vw;
    }
}